@charset "UTF-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}
img{display: block; width: 100%;}
/*  */
header img{width: 100%;}
header a{
    width: 30%;
    margin: 0 auto;
}
header{padding: 20px 0; position: relative;}
.gnb a{line-height: 40px; border-bottom: 3px #fff solid;}
.gnb{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav{
    position: sticky;
    top: 0;
    background: #fff;
    padding: 10px 0;
}
.gnb a:hover{border-bottom: 3px brown solid;}
/*  */
#contents{
    width:70%; margin: 0 auto;
}
.imgBox li{
    width:33.333%;
}
.imgBox{
    display: flex;
    flex-wrap: wrap;
}
/*  */
footer a{
    width: 30%; 
    margin: 0 auto;
}
footer{
    padding: 30px 0; 
    background: #777;
}
/*  */
.menu{
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    right: 10%;
    position: absolute;
    top: 50%;
}
.bar{
    position: absolute;
    width: 40px;
    height: 8px;
    background: #999;
}

.menu.on .bar:nth-child(1){
    opacity: 0;
}
.menu.on .bar:nth-child(2){
    top: 16px;
    transform: rotate(45deg);
}
.menu.on .bar:nth-child(3){
    top: 16px;
    transform: rotate(-45deg);
}
.menu.on .bar:nth-child(4){
    top: 32px;
    opacity: 0;
}

.menu .bar:nth-child(1){
    opacity: 1;
}
.menu .bar:nth-child(2){
    top: 16px;
    transform: rotate(0deg);
}
.menu .bar:nth-child(3){
    top: 16px;
    transform: rotate(0deg);
}
.menu .bar:nth-child(4){
    top: 32px;
    opacity: 1;
}
/*  */
.popup_nav{
    display: none;
    position: absolute;
    width: 100%;
    left: -150%;
    background: rgba(0,0,0,.8);
    color: #fff;
    transition: .3s;
    z-index: 10;
}
.popup_nav.on{
    left: 0;
}
.popup_nav a{
    padding-left: 20px;
    line-height: 40px;
}
.popup_nav a:hover{
    background: dodgerblue;
}
@media screen and (max-width:1024px){
    nav{display: none;}
    #contents{width: 90%;}
    .menu{display: block;}
    .popup_nav{display: block;}
}